.blog_card {

  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}


